body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0F110C;
}

#container{
    width: 1000px;
    height: 550px;
    background-color: #0F110C;
    margin: 20px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #0F110C;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius:  5px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: white;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: white;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 20%;
    border-width: 0;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid ;
    background-color: lightseagreen;
    color: lightseagreen;
}

.operator{
    color: #141414;
}

.number , .empty{
    background-color:#161616;
}

.operator:active{
    font-size: 12px;
    background-color: #141414;
    color: white;
}

.number , .operator{
    cursor: pointer;
}

.number:active{
    font-size: 12px;
    background-color: lightseagreen;
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    
}
#keyboard{
    height: 400px;
}

@media only screen and (max-width: 800px) {
    #container {
        display: inline;
    }

   
  }